@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.main {
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}

.left {
    background-color: #1C2833;
    width: 200px;
    height: 100%;
    float: left;
}

.right {
    width: 450px;
    float: left;
}

.profile-img {
    height: 180px;
    width: 180px;
    border: 10px solid #1C2833;

}

.profile-img img {
    width: 90%;
    border-radius: 10%;
}

.box-1 {
    position: relative;
}

.heading {
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}

.heading::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}

.p1 {
    padding: 9px 10px;
    font-size: 11px;
}

.icons1 {
    font-size: 16px !important;
    padding-right: 10px !important;
    vertical-align: sub;
}

.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
}

.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #F4D03F;
}

.web {
    width: 85%;
    background-color: #F4D03F;
}

.gra {
    width: 70%;
    background-color: #F4D03F;
}

.icons2 {
    padding: 18px 10px;
}

.name-div {
    margin-top: 10%;
    padding: 50px 0px 60px 30px;
    text-align: center;
    letter-spacing: 3px;
    background-color: #fbb03b;
}

.name-div h1 {
    margin-bottom: 10px;
}

.box-2 {
    padding: 0px 50px;
    margin-top: 30px;
}

.p2 {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
    text-align: justify;
}

.p4 {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;

}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.icons3 {
    vertical-align: bottom;
    font-size: 16px !important;
    color: #F4D03F;
    font-size: BOLD;

}

.p3 {
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 10px;
    color: white;
    text-align: justify;
    padding-left: 8%;
}

.p2 span {
    color: #ff9b00;
    padding-left: 30px;
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
}

li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F4D03F;
    margin-right: 10px;
}